/build/
/Release/
/Debug/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.make

*.o
*.obj

*.exe
*.out
*.app

gtest/
gmock/
*_test

*.swp
*.swo
*.vscode/
.idea/
*.sln
*.vcxproj*
*.user
*.userosscache
*.log

*.tmp
*.bak
